<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <%- include('navbar'); %>

  <div class="homepagecontainer">
    <div class="onewayticketdiv">
      <h1>One-way ticket</h1>
    </div>
    <form class="homepageinput" action="/available-selection" method="POST">
      <input class="frominput" type="text" name="departure" placeholder="From: Paris, Marseille.." />
      <input class="toinput" type="text" name="arrival" placeholder="To: Lille, Nantes..." />
      <input class="dateinput" type="date" name="date">
      <button class="gobutton" type="submit">Go</button>
      <div class="landmark-img-div"><img class="landmark-img" src="./images/landmark.png" /></div>
    </form>
  </div>
</body>

</html>