<div class="navbar">
  <div><img src="./images/train.png" /></div>
  <div>
    <h1 class="navtitle">Ticketac</h1>
  </div>
  <div class="rightmostelements">
    <ul class="navlinks">
      <li class="connectionlink"><a class="connectionlink" href="/">Connection</a></li>
      <li class="lasttripslink">My last trips</li>
    </ul>
  </div>
</div>