*{
  margin:0;
  }


body {
  height : 100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(0deg, #48c6ef, #6f86d6)
}

a {
  color: #00B7FF;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100vh;
}

#table {
  display: flex;
  align-items: center;
  justify-content: center;
  width : 700px;
  height: 100vh;
}

.table{
  width : 700px;
}

#bouton{
  width : 700px;
}

#titre
{
margin-bottom: 15px;
color : white;
font-size: medium;
}

.navbar {
  height: 100px;
  margin: 0px;
  background-color: rgb(219, 216, 216);
  display: flex;
  align-items: center;
}

.navlinks{
  display: flex;
  list-style: none
}

.rightmostelements {
  margin-left: auto;
}

.connectionlink, .lasttripslink {
  margin-right: 30px;
}

.navtitle {
  margin-left: 20px;
}

.connectionlink {
  color: red;
}

.lasttripslink {
  color: black;
}

.homepagecontainer {
  position: absolute;
  top: 30%;
  left: 30%;
  /* transform: translate(-50%, -50%); */
}

.frominput, .toinput, .dateinput {
  margin-left: 30px;
  height: 40px;
  font-size: 20px;
}

.dateinput {
  margin-right: 20px;
}

.onewayticketdiv {
  margin: 20px;
  color: white;
}

.gobutton, .okbutton {
  height: 50px;
  width: 50px;
  background-color: rgb(211, 5, 5);
  border-radius: 20%;
  color: white;
  border: none; 
}

.landmark-img {
  width: 50%;
  height: 50%;
}

.landmark-img-div {
  margin-top: 30px;
}

.homepageinput {
  text-align: center;
}

.available-container {
  position: absolute;
  top: 30%;
  left: 30%;
}

.available-trips {
  height: 100px;
  width: 700px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid lightgrey;
  border-radius: 2%;
}

.price-and-button {
  display: flex;
  margin-right: 20px;
}

.available-price {
  margin-right: 20px;
}

.tickets-available-text {
  margin-bottom: 30px;
  color: white;
}

.available-destination {
  margin-left: 20px;
}

.available-departure-time {
  color: rgb(141, 140, 140);
}