body {
  height : 100vh;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(0deg, #48c6ef, #6f86d6)
}

a {
  color: #00B7FF;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100vh;
}

#table {
  display: flex;
  align-items: center;
  justify-content: center;
  width : 700px;
  height: 100vh;
}

.table{
  width : 700px;
}

#bouton{
  width : 700px;
}

#titre
{
margin-bottom: 15px;
color : white;
font-size: medium;
}
